@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body{
    background-color: #F7E9E4;
}

header{
    margin-bottom: 2rem;
}

.subInfo, .dateNow{
    font-size: 0.80rem;
    margin-top: 10px;
    font-family: 'Crimson Text', serif;
}

#title{
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    text-align: center;
}

section .img-thumbnail{
    max-width: 100px;
    border: none;
}

section .list-group-item{
    border: none;
    background-color: #F7E9E4;
}

section #prodList, .prodTitle, .description , .price{
    font-family: 'Crimson Text', serif;
}

