@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');


@media (min-width: 576px) { 
    header #title{
        font-size: 13vw;
    }

    header .subInfo, header .dateNow{
        font-size: 3.1vw
    }

    section #prodList{
        font-size: 2rem;
    }
}

@media (min-width: 768px) { 
    header #title{
        font-size: 10vw;
    }

    header .subInfo, header .dateNow{
        font-size: 2.7vw
    }
}

@media (min-width: 992px) { 
    header #imgIntro, footer{
        max-width: 696px;
    }

    footer{
        margin: auto;
    }
}

@media (min-width: 1200px) { 
    header #title{
        font-size: 7vw;
    }

    header .subInfo, header .dateNow{
        font-size: 2.4vw
    }

    section{
        height: 1850px;
    }

    section #scrollProd{
        overflow-y: visible;
    }
}


@media (min-width: 1400px) { 
    
}

body{
    background-color: #F7E9E4;
}

header{
    margin-bottom: 2rem;
}

.subInfo, .dateNow{
    font-size: 4.3vw;
    margin-top: 10px;
    font-family: 'Crimson Text', serif;
}

#title{
    font-family: 'Caveat', cursive;
    font-size: 18vw;
    text-align: center;
}

section .d-flex{
    max-height: 350px;
    overflow-y: scroll;
}

section .img-thumbnail{
    max-width: 100px;
    border: none;
    
}

section .list-group-item{
    border: none;
    background-color: #F7E9E4;
    margin-bottom: 1.3rem;
    
}

section .product{
    border-left: 0.1rem black solid;
}

section #prodList, .prodTitle, .description , .price{
    font-family: 'Crimson Text', serif;
}

section .prodTitle{
    font-weight: bold;
}

section .price{
    background-color: black;
    color: white;
    padding: 0.2rem;
}

footer .container{  
    font-family: 'Crimson Text', serif 
}

footer .container, .list-group-item{
    background-color: #383534;
    
}

footer #contact, #msg, .textContact{
    color: #DED1CC;
}

footer #contact {
    margin: 1rem;
}

footer .list-group-item{
    border: none;
    padding-bottom: 0;
}

footer .list-group-item p{
    margin: 0;
}

footer #msg{
    margin-top: 1rem;
    text-align: center;
    border-top: .1rem #DED1CC solid;
}
